.abonnementbillede {
  margin-top: 20px;
}

.blyant {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.toppen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.space {
  height: 50px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#navn {
  background: transparent;
    border: none;
    font: 600 1.25rem "Work Sans", sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 20px;
}

.hashtag {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
}

#hashtagknapper {
  display: flex;
  flex-direction: row;
}

#hashtagknapper > div {
  background-color: #dcbcfd;
  border-radius: 10px;
  border: none;
  padding: 5px 15px 5px 15px;
  margin: 10px;
}

.plus-icon {
  margin-left: 10px;
}

.pilleknap {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.pilleknaptredelt {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.right {
  margin-right: 10px;
}

.left {
  margin-left: 20px;
}

.middle {
  margin-left: 10px;
  margin-right: 30px;
}
