.filterknap {
    background-color: #dcbcfd;
    border-radius: 10px;
    border: none;
    padding: 5px 25px 5px 25px;
    margin: 10px;
}

.filter-icon {
    height: 3rem;
    margin-left: 625px;
    margin-right: 10px;
  }