.liste{
  display: flex;
  flex-wrap: wrap;
}

h2{
  align-items: center;
  margin-top: 0.5rem;
}


.pilleknap, .blyant, .tilbagepil {
  margin-left: auto;
}

.liste{
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
