#kollega-liste {
    margin-top: 3.125rem;
}

#kollega-liste > div{
    display: flex;
    background-color: #cbebdb;
    max-width: 100%;
    border-radius: 0.625rem;
    border: none;
    padding: 0.938rem 1.563rem 0.938rem 1.563rem;
    margin: 0.625rem;
    justify-content: space-between;
}

#kollega-liste > div > p {
    display: flex;
    margin: 0 2rem 0 2rem;
}

@media screen and (max-width: 800px) {
    #kollega-liste > div{
        max-width: 100%;
        padding: 0.625rem 0.313rem 0.625rem 0.313rem;
        flex-direction: column;
    }

    #kollega-liste > div > p {
        justify-content: center;
        margin: 0 2rem 0 2rem;
    }
  }

  @media screen and (max-width: 600px){

  }
