.tombillede {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  width: 230px;
  height: 230px;
}
/*
h2.center {
text-align: center;
}
*/
#loginknap1{
  background-color: #dcbcfd;
  border-radius: 10px;
  border: none;
  padding: 50px 25px 50px 25px;
  margin-top: 60px;
}

#loginknap1:hover {
  background-color: #4E3B66;
  color: #FCF4F0;
  cursor: pointer;
}

#loginknap2{
  background-color: #dcbcfd;
  border-radius: 10px;
  border: none;
  padding: 50px 25px 50px 25px;
  margin-top: 60px;
}

#loginknap2:hover {
  background-color: #4E3B66;
  color: #FCF4F0;
  cursor: pointer;
}

#loginknapper{
  text-align: center;

}

button.login {
  background-color: #dcbcfd;
  border-radius: 10px;
  border: none;
  padding: 15px 25px 15px 25px;
  margin: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

button.login:hover {
  background-color: #4E3B66;
  color: #FCF4F0;
  cursor: pointer;
}

p.opret {
  text-align: center;
  margin: 8px;
}

p.opret:hover {
  color: #4E3B66;
  cursor: pointer;
}
